body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#div1{
  background-image:url("../image/rag-dolls-walking-rope.jpg");
  background-repeat: no-repeat;
  background-size: 82%; 
  height: 100vh;
 } 
 
 #div2{
  margin: 0% 0% 0% 40%;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  text-decoration: none;
}
